@page "/trade-skills/basic-components"
@using OpenRpg.Demos.Infrastructure.Extensions
@using OpenRpg.Demos.Infrastructure.Lookups
@using OpenRpg.Genres.Fantasy.Types
@using OpenRpg.Genres.Types
@using OpenRpg.Quests

<Markdown>
    ## Basic Trade Skill Components
    The `OpenRpg.Items.TradeSkills` library adds the notion of trade based skills which are configurable like `Stats`, then
    crafting blueprints/recipes which can be unlocked based on your score with the given skills. 
    
    > For example you could add support for `Mining`, `Smelting`, `Smithing`, `Tailoring` etc with each skill having 
    > its own unlockable blueprints allowing you to craft or smelt more complex items as you get better, however this
    > is all configurable to be handled how you want (although default out the box implementations exist).
    
</Markdown>
<br />

<div class="columns">
    <div class="column is-two-thirds">
        <Markdown>
            ### A Simple Trade Skill Example
            So lets just make a simple trade skill for `Mining`.
            
            ```csharp
            
            ```

        </Markdown>
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}