<aside class="menu">
    <p class="menu-label">Overview</p>
    <ul class="menu-list">
        <li><NavLink href="overview/basics">Basics</NavLink></li>
        <li><NavLink href="overview/common-components">Common Components</NavLink></li>
    </ul>
    <p class="menu-label">Characters</p>
    <ul class="menu-list">
        <li><NavLink href="characters/basic-components">Basic Components</NavLink></li>
        <li><NavLink href="characters/stats-components">Stats Components</NavLink></li>
        <li><NavLink href="characters/advanced-stats">Advanced Stats</NavLink></li>
    </ul>
</aside>
@code {

}