<CardSection>
    <aside class="menu">
        <p class="menu-label">Overview</p>
        <ul class="menu-list">
            <li><NavLink href="overview/basics" ActiveClass="is-active">Basics</NavLink></li>
            <li><NavLink href="overview/common-components" ActiveClass="is-active">Common Components</NavLink></li>
        </ul>
        <p class="menu-label">Characters</p>
        <ul class="menu-list">
            <li><NavLink href="characters/basic-components" ActiveClass="is-active">Basic Components</NavLink></li>
            <li><NavLink href="characters/stats-components" ActiveClass="is-active">Stats Components</NavLink></li>
            <li><NavLink href="characters/advanced-stats" ActiveClass="is-active">Advanced Stats</NavLink></li>
            <li><NavLink href="characters/default-character" ActiveClass="is-active">Default Character</NavLink></li>
            <li><NavLink href="characters/builder" ActiveClass="is-active">Character Builder</NavLink></li>
        </ul>
        <p class="menu-label">Items</p>
        <ul class="menu-list">
            <li><NavLink href="items/basic-components" ActiveClass="is-active">Basic Components</NavLink></li>
            <li><NavLink href="items/item-requirements" ActiveClass="is-active">Items & Requirements</NavLink></li>
        </ul>
    </aside>
</CardSection>

@code {

}