.with-rounding
{
    border-radius: 0.25em;
}

.with-shadow
{
    box-shadow: #363636 0 2px 0 0;
}

.content blockquote
{
    color: #363636;
}

section .documentation
{
    border-radius: 1em;
}

.columns .is-fullheight {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.expand-full-width {
    width: 100%;
}

ul.menu-list li.has-text-light {
    color: #f5f5f5;
}

.item-border {
    border-style: solid;
    border-width: 4px;
}

.item-quality-1 { border-color: #9d9d9d; }
.item-quality-2 { border-color: #ffffff; }
.item-quality-3 { border-color: #1eff00; }
.item-quality-4 { border-color: #0070dd; }
.item-quality-5 { border-color: #0070dd; }
.item-quality-6 { border-color: #a335ee; }
.item-quality-7 { border-color: #a335ee; }
.item-quality-8 { border-color: #e6cc80; }
.item-quality-9 { border-color: #ff8000; }
.item-quality-10 { border-color: #00ccff; }


.title.item-quality-1 { color: #9d9d9d !important; }
.title.item-quality-2 { color: #ffffff !important; }
.title.item-quality-3 { color: #1eff00 !important; }
.title.item-quality-4 { color: #0070dd !important; }
.title.item-quality-5 { color: #0070dd !important; }
.title.item-quality-6 { color: #a335ee !important; }
.title.item-quality-7 { color: #a335ee !important; }
.title.item-quality-8 { color: #e6cc80 !important; }
.title.item-quality-9 { color: #ff8000 !important; }
.title.item-quality-10 { color: #00ccff !important; }