@using OpenRpg.Core.Stats
@using OpenRpg.Genres.Fantasy.Extensions
@using OpenRpg.Core.Effects
@using OpenRpg.Genres.Fantasy.Types
@using System.Reflection
@using OpenRpg.Demos.Web.Extensions
@using OpenRpg.Demos.Web.Infrastructure.OpenRpg.Locale
@inject DefaultLocaleRepository LocaleRepository

@if (Effects != null && Effects.Count > 0)
{
    <div class="content is-small has-text-centered">
        @foreach (var effect in Effects)
        {
            <li style="list-style: none;">
                <span class="@(effect.Potency > 0 ? "has-text-success" : "has-text-danger")">
                    @(effect.Potency > 0 ? "+":"")@(effect.Potency) @GetEffectText(effect.EffectType)
                </span>
            </li>
        }
    </div>
}

@code {
    [Parameter]
    public IReadOnlyCollection<Effect> Effects { get; set; }

    private int[] _percentageEffectTypeCache;

    protected override void OnInitialized()
    {
        // You could easily add other types in if you had custom ones
        _percentageEffectTypeCache = GetAllPercentageEffectTypeIds(typeof(EffectTypes));
        base.OnInitialized();
    }

    private int[] GetAllPercentageEffectTypeIds(Type effectTypes)
    {
        return effectTypes
            .GetFields(BindingFlags.Public | BindingFlags.Static)
            .Where(x => x.Name.Contains("Percentage"))
            .Select(x => (int)x.GetValue(null))
            .ToArray();
    }


    public bool IsPercentageEffect(int effectType)
    { return _percentageEffectTypeCache.Contains(effectType); }

    public string GetEffectText(int effectType)
    { return LocaleRepository.Retrieve(DefaultLocaleRepository.GetKeyFor(DefaultLocaleRepository.EffectTextKey, effectType)); }

    public string GetPotencySymbol(float potency)
    { return potency > 0 ? "+" : "-"; }

}