@using OpenRpg.Genres.Fantasy.Characters
@using OpenRpg.Core.Races
@using OpenRpg.Core.Classes
@using OpenRpg.Items

<CardSection customClasses="item-border">
    <h2 class="title has-text-dark has-text-centered">@(GetItemName() ?? "Unnamed Item")</h2>
    @if (!string.IsNullOrEmpty(Item.ItemTemplate.DescriptionLocaleId))
    {
        <h4 class="subtitle has-text-dark has-text-centered">@(Item.ItemTemplate.DescriptionLocaleId)</h4>
    }
    <div class="columns">
        <div class="column">
            <figure class="image is-64x64 item-border with-rounding">
                <img src="images/items/@(Item.ItemTemplate.AssetCode).png">
            </figure>
        </div>
    </div>
</CardSection>

@code {
    [Parameter] public IItem Item { get; set; }

    private string GetItemName()
    {
        if(string.IsNullOrEmpty(Item.NameOverride))
        { return Item.ItemTemplate.NameLocaleId; }
        else
        { return Item.NameOverride; }
    }


}